@import "tailwindcss";

:root {
    --font-weight-medium: 400;
    --font-weight-bold: 600;
    --default-margin-x: 40px;
    --ring: oklch(0.708 0 0);
}

@theme {
    --color-background: #F3F4F6;
    --color-primary: #1D4ED8;
    --color-gray: #4B5563;
    --color-destructive: #EF4444;
    --color-input-background: #f3f3f5;
}




@layer base {
    body {
        @apply font-serif tracking-wide;
    }

    html {
        font-weight: var(--font-weight-medium);
    }

    h1 {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-bold);
        line-height: 1.2;
    }

    h2 {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-semibold);
    }

    h3 {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-medium);
    }

    p {
        font-size: var(--text-sm);
        color: var(--color-gray)
    }

    th {
        font-weight: var(--font-weight-bold);
        color: var(--color-gray);
    }

    td {
        font-weight: var(--font-weight-medium);
        color: var(--color-gray);
    }
}